# Server
LOG_LEVEL=

# Kafka
KAFKA_BROKER=
KAFKA_PARSER_TOPIC=
KAFKA_DLQ_TOPIC=
KAFKA_URL_TOPIC=
KAFKA_PARTITIONS=
KAFKA_GROUP_ID=

# AWS
AWS_PROFILE=
HTML_BUCKET_PREFIX=
TEXT_BUCKET_PREFIX=
BUCKET_NAME=