# Server
LOG_LEVEL=

# Kafka
KAFKA_BROKER=
KAFKA_URL_TOPIC=
KAFKA_DLQ_TOPIC=
KAFKA_PARSER_TOPIC=
KAFKA_PARTITIONS=
KAFKA_GROUP_ID=

# AWS
AWS_PROFILE=
BUCKET_NAME=
BUCKET_PREFIX=

# DB
DB_URI=
DB_NAME=
DB_URL_COLLECTION=
DB_DOMAIN_COLLECTION=
